/* general */
		.s-chile, .s-maiz{
			display: none;
		}
		.s-todas-desk{
			display: grid;
			grid-template-columns: 25% 75%;
			min-height: 140vh;
			overflow-x: hidden;
		}
		.col-color{
			padding: 12px 10%;
			color: var(--arena);
			position: relative;
		}
		.s-todas-desk .titulo-seccion{
			font-size: 1rem;
		}
		.s-todas-desk .titulo-seccion span{
			font-size: 1.4rem;
		}
		.col-color>p{
			padding-right: 0%;
			line-height: 1.6;
		}
		.s-todas_xdata{
			margin: 0 0 2rem;
			width: 25px;
		}
		.card-ins-desk .card-ins{
			position: absolute;
			left: 40%;
			bottom: 3%;
		}
		.card-ins{
			border: 1px solid #808080;
			display: block;
			border-radius: 24px;
			text-align: center;
			width: 400px;
			background-color: var(--arena);
			color: var(--negro3f);
		}
		.card-ins_header{
			border-bottom: 1px solid #808080;
			height: 45px;
			display: flex;
			justify-content: center;
			align-content: center;
			align-items: center;
		}

		.ins_header_titulo{
			font-family: 'IM', serif;
			font-weight: lighter;
			text-transform: uppercase;
			font-size: 1.1rem;
			letter-spacing: 1px;
		}
		.card-ins_body{
			padding: 1rem 0px;
		}
		.card-ins_body p{
			font-size: .9rem;
			line-height: 1.4;
		}

	/* chile */
		.col-verde{
			background-color: var(--olivo);
		}
		.flor-verde{
			display: none;
		}
		.chile-ins-desk .card-ins_body img{
			width: 95%;
			margin: auto;
			margin-top: 1rem;
		}

		/* chile arena */
			.col-arena{
				background-color: var(--arena2);
				display: grid;
				grid-template-columns: 70% 30%;
				padding: 0;
			}
			.arena-desk-img{
				display: flex;
				justify-content: center;
				align-content: center;
				align-items: center;
				width: 100%;
			}
			.tabs-chile_grafica{
				width: 98%;
				max-width: 1000px;
				max-width: none;
				position: relative;
				left: 2rem;
			}
			.chile-absolute.fresco{
				position: absolute;
				top: 37%;
				left: 52%;
				width: 10%;
				transform: rotate(20deg);
				animation: boton-twingle-c 2s ease infinite;
			}
			.chile-absolute.seco{
				position: absolute;
				top: 38%;
				left: 48%;
				width: 100px;
				animation: boton-twingle-c 2s ease infinite;
			}
		/* chile cotas */
			.button-frescosD.active{
				background-color: #099597;
				background: rgb(31,118,142);
				background: linear-gradient(90deg, rgba(31,118,142,1) 0%, rgba(1,159,154,1) 100%);
				color: var(--arena);
				border: none;
				padding-left: 0;
			}
			.button-secosD.active{
				background-color: #e08744;
				background: rgb(233,109,91);
				background: linear-gradient(90deg, rgba(233,109,91,1) 0%, rgba(224,134,69,1) 100%);
				color: var(--arena);
				border: none;
				padding-right: 0;
			}
			.cotas-arena{
				display: flex;
				flex-direction: column;
				justify-content: center;
				align-content: space-between;
				align-items: space-between;
				height: 100%;
				padding: 0;
			}
			.flor-margen{
				max-width: 130px;
				display: block;
				margin: 0 auto;
			}

			.cotas-desk-list{
				display: flex;
				flex-direction: column;
				margin: .5rem auto 0;
				/*border-style: solid;*/
			}
			.cotas-desk-list>div{
				display: flex;
				margin: 4px auto;
				align-content: center;
				align-items: center;
				width: 100%
			}
			.cotas-desk-list>div img{
				margin-right: 6px;
				width: 18px;
			}
			.cotas-desk-list>div img.hoja{
				width: 24px;
				margin-left: -6px;
			}
			.scoville-desk{
				display: flex;
				flex-direction: column;
				justify-content: center;
				align-content: center;
				align-items: center;
				margin: 1rem 0;
			}
			.scoville-desk img{
				width: 60%;
				display: block;
				margin: 5% auto 0;
			}
			.sin-rango{
				margin: 1rem auto 2rem;
				display: flex;
				align-items: center;
				align-content: center;
				font-size: .81rem;
				justify-content: center;
			}
			.sin-rango img{
				width: 20px;
				margin-right: 6px;
			}
			.cotas-arena_p{
				font-size: .91rem;
				line-height: 1.6;
				width: 80%;
				margin: 0 auto;
			}
			.chile-tabs_button{
				margin: 0 auto;
			}
			.asterisco{
				width: 80%;
				font-size: .81rem;
				max-width: none;
				margin: 0 auto;
				text-align: left;
				padding: 0;
			}
			.nochebuena{
				display: block;
				margin: 6px auto;
				width: 60px;
			}

	/* maiz */
		.col-rosa{
			background-color: var(--rosa);
		}
		.maiz-ins-desk .card-ins_body img{
			width: 60%;
			margin: auto;
			margin-top: 1rem;
		}
		.col-rosa_p{
			margin-top: 10%;
		}
		.flor-rosa{
			position: absolute;
			height: 25%;
			left: -25%;
			bottom: 21%;
		}
		.col-arena-maiz{
			/*border-style: solid;*/
			display: flex;
			align-content: center;
			align-items: center;
			justify-content: center;
			height: 100%;
		}
		.grafica-maiz-desk{
			width: 950px;
		}
		.maiz-maiz-desk{
			width: 110px;
			animation: boton-twingle-c 2s ease infinite;
		}

	/* puntos */
		.container-puntos{
			display: none;
		}
		.container-puntos-desk{
			display: block;
		}

	/* preparaciones */
		.container-puntos-desk{
			height: 400vh;
			position: relative;
		}
		.s-puntos{
			display: none;
		}
		.s-puntos-desk{
			display: grid;
			grid-template-columns: 22% 55% 23%;
			position: sticky;
			top: 0;
		}
		.s-platillos-desk{
			background-color: var(--arena2);
		}
		
		
		/* col 1 */
			.prep-col1{
				padding: 15% 10%;
				position: relative;
				min-height: 100vh;
			}
			.flor-pcol1{
				width: 80%;
				position: relative;
				left: -20%;
			}
			.platillos-col1 .titulo-seccion{
				font-size: 1.6rem;
				line-height: 1.4;
			}
			.platillos-col1 .titulo-seccion span{
				font-size: 2.5rem;
				line-height: 1.2;
			}
			.prep-titulo{
				font-size: 1.8rem;
			}
			.prep-col1-p{
				margin: 1rem 0 0;
				line-height: 1.6;
				width: 75%;
			}
			.texto-puntos{
				position: relative;
				transition: all .4s ease;
				left: 0;
				margin-top: 1rem;
			}

		/* col2 */
			.prep-col2 {
				display: flex;
				justify-content: center;
				align-content: center;
				align-items: center;
				position: relative;
			}
			.prep-col2-graf{
				position: relative;
				max-width: 98%;
			}
			.prep-col2-icon{
				position: absolute;
				width: 25%;
				top: 40%;
				left: 34%;
				animation: boton-twingle-c 2s ease infinite;
			}

		/* col3 */
			.platillos-col3{
				padding: 2rem 0;
			}
			/* ins */
				.platillos-ins .card-ins{
					width: 95%;
					margin: auto;
				}
				.platillos-ins .ins_header_titulo{
					font-size: 1.2rem;
				}
				.platillos-ins .card-ins_body p{
					font-size: .875rem;
					line-height: 1.4;
				}
				.platillos-ins .card-ins_body p.p-detalle{
					font-size: .875rem;
					max-width: 100%;
				}
				 .platillos-ins .card-ins_body img{
					width:70%;
					margin: .6rem 0;
				}

			/* cotas */
				.platillos-cotas{
					text-align: center;
				}
				.platillos-ul-titulo{
					width: 80%;
					font-size: 1.3rem;
				}
				.platillos-cotas>img{
					width: 35%;
					max-width: 140px;
				}
				.ul-platillos{
					padding: 0  0 1rem;
					font-size: 1rem;
					column-count: 1;
					width: max-content;
					display: block;
					margin: auto;
				}
				.ul-platillos li{
					display: flex;
					align-items: center;
					padding:  6px 0;
				}
				.ul-platillos li img{
					width: 20px;
					margin-right: 10px;
				}
				.ul-platillos li:nth-child(5) img{
					bottom: 0px;
					margin-right: 17px;
				}
			.btn-prep{
				height: 50px;
			}
			.btn-platillos{
				background: rgb(32,164,134);
				background: linear-gradient(90deg, rgba(32,164,134,1) 19%, rgba(149,178,81,1) 100%);
				margin: 0 auto;
				color: var(--arena2);
			}
			.btn-bebidas{
				margin: 0 auto;
				color: var(--arena2);
			}